## imports

In [1]:
from os import environ as ENV
from datetime import datetime, timezone, timedelta
from dotenv import load_dotenv
from pymssql import connect
import pandas as pd
from boto3 import client

## load data in

In [2]:
load_dotenv()

True

In [3]:
def get_db_connection(config: dict) -> connect:
    """Returns database connection."""

    return connect(
        server=config["DB_HOST"],
        port=config["DB_PORT"],
        user=config["DB_USER"],
        database=config["DB_NAME"],
        password=config["DB_PASSWORD"],
        as_dict=True
    )

In [4]:
connection = get_db_connection(ENV)

In [5]:
def get_df(conn: connect) -> pd.DataFrame:
    """Returns a Dataframe of method data from database."""

    query = """ 
            SELECT *
            FROM s_beta.recording AS r
            FULL JOIN s_beta.plant AS p
                ON r.plant_id = p.plant_id
            """
    
    with conn.cursor() as cur:
        cur.execute(query)
        rows = cur.fetchall()

    df = pd.DataFrame(rows)[
        ["recording_taken", "plant_id", "plant_name", "scientific_name", "soil_moisture", "temperature"]]
    
    return df

In [6]:
data = get_df(connection)

In [7]:
data = data.astype({"soil_moisture":"float64",
                    "temperature":"float64"})

In [8]:
data['recording_taken'] = pd.to_datetime(data['recording_taken'], utc=True)

In [9]:
data.dtypes

recording_taken    datetime64[ns, UTC]
plant_id                         int64
plant_name                      object
scientific_name                 object
soil_moisture                  float64
temperature                    float64
dtype: object

In [10]:
data

,recording_taken,plant_id,plant_name,scientific_name,soil_moisture,temperature
0,2024-04-17 09:44:01+00:00,0,Epipremnum Aureum,Epipremnum aureum,31.4063,13.1995
1,2024-04-17 09:44:01+00:00,1,Venus flytrap,None,29.7548,12.0470
2,2024-04-17 09:44:00+00:00,2,Corpse flower,None,35.9540,9.1711
3,2024-04-17 09:44:04+00:00,3,Rafflesia arnoldii,None,34.6505,10.0300
4,2024-04-17 09:44:10+00:00,4,Black bat flower,None,26.7741,11.3474
...,...,...,...,...,...,...
2433,2024-04-17 10:52:39+00:00,40,Amaryllis,Hippeastrum (group),30.8488,9.1521
2434,2024-04-17 10:52:40+00:00,41,Caladium Bicolor,Caladium bicolor,29.0599,11.8277
2435,2024-04-17 10:52:39+00:00,42,Chlorophytum Comosum,Chlorophytum comosum 'Vittatum',30.3319,9.9005
2436,2024-04-17 10:52:40+00:00,44,Araucaria Heterophylla,Araucaria heterophylla,26.7869,9.6246
2437,2024-04-17 10:52:42+00:00,45,Begonia,Begonia 'Art Hodes',27.5637,9.0750

## transform data

### summary

In [11]:
def get_summary(df: pd.DataFrame) -> pd.DataFrame:
    """Gets 1 mean per parameter per plant.
    Returns pd.DF."""
    
    df = df.drop(columns=["recording_taken"])
    
    df = df.groupby(["plant_id", "plant_name", "scientific_name"],as_index=False
                    ).agg(["mean", "std", "min", "max"]
                          ).droplevel(1, axis=1)
    
    df.columns = ['plant_id', 'plant_name', 'scientific_name'] + \
        [param+"_"+metric
         for param in ['soil_moisture', 'temperature']
         for metric in ["mean", "std", "min", "max"]]
    
    return df

In [12]:
summary = get_summary(data)

In [13]:
summary

,plant_id,plant_name,scientific_name,soil_moisture_mean,soil_moisture_std,soil_moisture_min,soil_moisture_max,temperature_mean,temperature_std,temperature_min,temperature_max
0,0,Epipremnum Aureum,Epipremnum aureum,28.945992,0.943194,27.4323,31.4063,13.618884,1.915160,13.1330,24.7830
1,5,Pitcher plant,Sarracenia catesbaei,33.571975,0.913545,32.1019,35.9741,11.191940,0.025514,11.1562,11.2455
2,6,Wollemi pine,Wollemia nobilis,30.444053,0.903123,28.9930,32.7930,12.886500,11.879152,10.9444,94.9506
3,8,Bird of paradise,Heliconia schiedeana 'Fire and Ice',24.675626,0.962709,23.0963,27.1754,11.530380,0.034152,11.4838,11.6025
4,9,Cactus,Pereskia grandifolia,29.623714,0.940831,28.1315,32.0963,10.733118,0.936536,10.5765,17.2890
5,11,Asclepias Curassavica,Asclepias curassavica,28.031373,12.845303,-62.5927,32.2118,11.075952,9.552786,9.4339,77.8178
6,14,Colocasia Esculenta,Colocasia esculenta,31.766929,0.914958,30.3162,34.1746,15.460525,10.769446,12.7846,75.9186
7,16,Euphorbia Cotinifolia,Euphorbia cotinifolia,-5.895437,1.364163,-8.1644,-2.2859,13.339345,0.447712,12.6945,16.4157
8,17,Ipomoea Batatas,Ipomoea batatas,28.776578,0.935278,27.2677,31.2443,9.922176,0.995606,9.7386,16.8184
9,19,Musa Basjoo,Musa basjoo,27.550073,13.221675,-64.8078,31.7957,15.712404,11.436185,13.8426,94.6848
10,20,Salvia Splendens,Salvia splendens,30.966162,0.944670,29.4425,33.4564,9.240723,3.047127,8.5594,27.7035
11,21,Anthurium,Anthurium andraeanum,31.475204,0.918098,29.9862,33.8881,11.556348,2.332418,10.9872,23.4164
12,22,Bird of Paradise,Heliconia schiedeana 'Fire and Ice',24.951552,0.957051,23.4463,27.4422,10.354810,3.463931,9.5218,27.1294
13,23,Cordyline Fruticosa,Cordyline fruticosa,32.639923,0.925890,31.1470,35.0848,11.420563,0.031596,11.3761,11.4869
14,24,Ficus,Ficus carica,29.393943,0.970627,27.8500,31.9353,13.301624,1.713990,13.0348,25.3012
15,26,Dieffenbachia Seguine,Dieffenbachia seguine,33.612782,0.890643,32.1473,35.9250,14.220620,0.739934,12.5149,19.0887
16,27,Spathiphyllum,Spathiphyllum (group),33.178596,0.920985,31.6905,35.6029,10.833060,0.516147,10.7351,14.4811
17,28,Croton,Codiaeum variegatum,27.955402,5.518808,-10.4784,31.2443,12.412756,0.014165,12.3929,12.4423
18,29,Aloe Vera,Aloe vera,28.442755,0.903971,26.9724,30.8087,11.160676,1.934588,10.7957,24.4729
19,30,Ficus Elastica,Ficus elastica,31.925145,0.833227,30.5423,33.6395,15.480810,6.979129,14.0295,64.3420
20,31,Sansevieria Trifasciata,Sansevieria trifasciata,26.081208,0.926706,24.6051,28.5547,14.446096,7.340992,13.3345,65.8056
21,32,Philodendron Hederaceum,Philodendron hederaceum,28.636761,0.965400,27.0762,31.1509,10.909647,1.516819,10.5881,19.4730
22,33,Schefflera Arboricola,Schefflera arboricola,27.214934,11.605678,-52.9444,31.3671,14.606272,6.728708,13.5140,60.9602
23,34,Aglaonema Commutatum,Aglaonema commutatum,27.326921,0.947441,25.8360,29.8230,15.292860,11.668297,13.3808,94.1866
24,35,Monstera Deliciosa,Monstera deliciosa,25.758751,0.940978,24.2015,28.2541,13.053971,0.841087,12.8820,18.9340
25,36,Tacca Integrifolia,Tacca integrifolia,31.408992,0.901040,29.9262,33.7782,12.633702,2.161008,12.2659,27.7299
26,38,Saintpaulia Ionantha,Saintpaulia ionantha,30.743100,0.902621,29.3115,33.1312,11.573157,2.555495,11.0461,28.6158
27,39,Gaillardia,Gaillardia aestivalis,27.857890,0.971685,26.3085,30.3930,13.487467,0.594736,13.3697,17.6480
28,40,Amaryllis,Hippeastrum (group),32.287812,0.893953,30.8488,34.6391,9.199106,0.776304,9.0457,14.6846
29,41,Caladium Bicolor,Caladium bicolor,30.520414,0.916656,29.0599,32.8880,14.566444,12.099417,11.7112,82.3817
30,42,Chlorophytum Comosum,Chlorophytum comosum 'Vittatum',31.818656,0.941030,30.3319,34.2910,10.242432,2.533655,9.8385,27.7771
31,44,Araucaria Heterophylla,Araucaria heterophylla,28.247488,0.914493,26.7869,30.6972,9.749312,0.924727,9.5366,15.5879
32,45,Begonia,Begonia 'Art Hodes',29.070085,0.934955,27.5637,31.5315,9.960454,6.842118,8.9623,58.3502
33,46,Medinilla Magnifica,Medinilla magnifica,32.951890,0.875302,31.5461,35.2700,13.658965,1.482993,13.2835,22.1021
34,47,Calliandra Haematocephala,Calliandra haematocephala,-7.627931,1.347956,-9.8380,-4.0557,14.027652,2.743562,13.3242,27.8064
35,48,Zamioculcas Zamiifolia,Zamioculcas zamiifolia,29.958724,0.929502,28.4815,32.4313,14.915416,0.140209,14.8759,15.8822
36,49,Crassula Ovata,Crassula ovata,28.680215,0.898514,27.1473,31.0730,10.472226,3.344243,9.3479,23.5732

### anomalies

In [14]:
anomalies = data.copy(deep=True)

In [15]:
def get_std(row: dict, df: pd.DataFrame, col: str) -> int:
    """Compare minutely value to mean of past hour;
    Returns std."""
    
    last_hour = pd.Timestamp(datetime.now(timezone.utc)-timedelta(hours=1))
    last_hour_vals = df[(df["plant_id"] == row["plant_id"]) &
                        (df["recording_taken"] >= last_hour)][col]
    
    mean = last_hour_vals.mean()
    std = last_hour_vals.std()
    
    nstd = (row[col] - mean) / std
    
    return nstd

In [16]:
anomalies["soil_moisture_nstd"] = data.apply(get_std,
                                             args=(data, "soil_moisture"),
                                             axis=1)

In [17]:
anomalies["temperature_nstd"] = data.apply(get_std,
                                           args=(data, "temperature"),
                                           axis=1)

In [18]:
anomalies = anomalies[(anomalies["soil_moisture_nstd"] <= -2.5) |
                      (anomalies["soil_moisture_nstd"] >= 2.5) |
                      (anomalies["temperature_nstd"] <= -2.5) |
                      (anomalies["temperature_nstd"] >= 2.5)]

In [19]:
anomalies

,recording_taken,plant_id,plant_name,scientific_name,soil_moisture,temperature,soil_moisture_nstd,temperature_nstd
0,2024-04-17 09:44:01+00:00,0,Epipremnum Aureum,Epipremnum aureum,31.4063,13.1995,2.838254,-0.221224
1,2024-04-17 09:44:01+00:00,1,Venus flytrap,None,29.7548,12.0470,2.873607,-0.132865
2,2024-04-17 09:44:00+00:00,2,Corpse flower,None,35.9540,9.1711,2.861548,-0.184705
3,2024-04-17 09:44:04+00:00,3,Rafflesia arnoldii,None,34.6505,10.0300,2.967427,-0.140707
4,2024-04-17 09:44:10+00:00,4,Black bat flower,None,26.7741,11.3474,3.005226,-0.121682
...,...,...,...,...,...,...,...,...
2086,2024-04-17 10:45:24+00:00,21,Anthurium,Anthurium andraeanum,30.4028,22.3906,-1.190810,4.597259
2107,2024-04-17 10:45:36+00:00,42,Chlorophytum Comosum,Chlorophytum comosum 'Vittatum',30.7394,27.7771,-1.169360,6.848287
2153,2024-04-17 10:46:40+00:00,40,Amaryllis,Hippeastrum (group),31.1805,14.6846,-1.266221,6.995321
2266,2024-04-17 10:49:35+00:00,14,Colocasia Esculenta,Colocasia esculenta,30.4780,58.0129,-1.448687,3.909097
2348,2024-04-17 10:51:27+00:00,1,Venus flytrap,None,25.7721,25.9875,-1.597533,7.001228

## load data

### save to CSVs

In [20]:
summary.to_csv("summary.csv", index=False)

In [21]:
anomalies.to_csv("anomalies.csv", index=False)

### upload to S3

In [22]:
S3 = client('s3',
            aws_access_key_id=ENV["AWS_ACCESS_KEY_ID"],
            aws_secret_access_key=ENV["AWS_SECRET_ACCESS_KEY"])

In [23]:
def upload_object(client: client,
                  file: str,
                  key: str,
                  bucket: str = "late-ordovician") -> None:
    """Upload file to S3 bucket.
    Returns nothing."""
    
    client.upload_file(file, bucket, key)

In [24]:
upload_object(S3, "summary.csv", "summary.csv")

In [25]:
upload_object(S3, "anomalies.csv", "anomalies.csv")

## clear database