## imports

In [11]:
from os import environ as ENV
from datetime import datetime, timezone
from dotenv import load_dotenv
from pymssql import connect
import pandas as pd
from boto3 import client

## load data in

In [2]:
load_dotenv()

True

In [3]:
def get_db_connection(config: dict) -> connect:
    """Returns database connection."""

    return connect(
        server=config["DB_HOST"],
        port=config["DB_PORT"],
        user=config["DB_USER"],
        database=config["DB_NAME"],
        password=config["DB_PASSWORD"],
        as_dict=True
    )

In [4]:
connection = get_db_connection(ENV)

In [5]:
def get_df(conn: connect) -> pd.DataFrame:
    """Returns a Dataframe of method data from database."""

    query = """ 
            SELECT *
            FROM s_beta.recording AS r
            FULL JOIN s_beta.plant AS p
                ON r.plant_id = p.plant_id
            """
    
    with conn.cursor() as cur:
        cur.execute(query)
        rows = cur.fetchall()

    df = pd.DataFrame(rows)[
        ["plant_id", "plant_name", "scientific_name", "soil_moisture", "temperature"]]
    
    return df

In [6]:
data = get_df(connection)

In [7]:
data

,plant_id,plant_name,scientific_name,soil_moisture,temperature
0,0,Epipremnum Aureum,Epipremnum aureum,94.2520,13.2095
1,1,Venus flytrap,None,93.6619,12.0518
2,2,Corpse flower,None,95.0359,9.1838
3,3,Rafflesia arnoldii,None,97.0180,10.0402
4,4,Black bat flower,None,91.3188,11.3533
...,...,...,...,...,...
1753,45,Begonia,Begonia 'Art Hodes',36.3051,8.9875
1754,46,Medinilla Magnifica,Medinilla magnifica,39.7980,13.3047
1755,47,Calliandra Haematocephala,Calliandra haematocephala,2.9719,13.3351
1756,48,Zamioculcas Zamiifolia,Zamioculcas zamiifolia,37.2374,14.8864
1757,49,Crassula Ovata,Crassula ovata,35.8565,9.3732

## transform data

### summary

In [8]:
def get_summary(df: pd.DataFrame) -> pd.DataFrame:
    """Gets 1 mean per parameter per plant.
    Returns pd.DF."""
    
    df = df.groupby(["plant_id", "plant_name", "scientific_name"],as_index=False
                    ).agg(["mean", "std", "min", "max"]
                          ).droplevel(1, axis=1)
    
    df.columns = ['plant_id', 'plant_name', 'scientific_name'] + \
        [param+"_"+metric
         for param in ['soil_moisture', 'temperature']
         for metric in ["mean", "std", "min", "max"]]
    
    return df

In [9]:
summary = get_summary(data)

In [10]:
summary

,plant_id,plant_name,scientific_name,soil_moisture_mean,soil_moisture_std,soil_moisture_min,soil_moisture_max,temperature_mean,temperature_std,temperature_min,temperature_max
0,0,Epipremnum Aureum,Epipremnum aureum,78.122289,25.256592,36.1562,94.2520,13.555887,2.047374,13.1356,25.6808
1,5,Pitcher plant,Sarracenia catesbaei,81.25853,24.909889,40.6315,97.4099,12.13133,3.982354,11.1584,29.1808
2,6,Wollemi pine,Wollemia nobilis,76.748311,24.621489,37.3608,92.9740,11.554414,2.472303,10.9460,23.1398
3,8,Bird of paradise,Heliconia schiedeana 'Fire and Ice',76.309708,25.266831,32.1192,91.7218,11.601586,0.430215,11.4868,14.1283
4,9,Cactus,Pereskia grandifolia,78.334816,25.439602,36.8522,94.8320,10.726816,0.762080,10.5782,15.2341
5,11,Asclepias Curassavica,Asclepias curassavica,78.134094,24.046534,36.8174,92.9970,12.756372,16.564403,9.4361,108.0111
6,14,Colocasia Esculenta,Colocasia esculenta,79.173289,24.755318,38.7978,95.2560,13.288322,0.921718,13.0936,18.7336
7,16,Euphorbia Cotinifolia,Euphorbia cotinifolia,66.054386,37.604992,4.7355,90.4646,13.290114,0.033154,13.2622,13.3546
8,17,Ipomoea Batatas,Ipomoea batatas,77.217558,25.753691,36.0109,94.2281,10.150694,2.124394,9.7414,22.5272
9,19,Musa Basjoo,Musa basjoo,77.861232,23.707122,36.3864,92.3086,14.412657,2.745477,12.7998,29.6748
10,20,Salvia Splendens,Salvia splendens,79.818053,25.974216,38.2650,96.9228,9.044164,2.329415,8.5624,22.5200
11,21,Anthurium,Anthurium andraeanum,79.727118,24.778469,38.5600,95.5508,11.558221,2.943851,10.9895,29.0781
12,22,Bird of Paradise,Heliconia schiedeana 'Fire and Ice',74.4834,25.430927,32.2424,90.7226,10.131382,3.116583,9.5237,28.5868
13,23,Cordyline Fruticosa,Cordyline fruticosa,81.014046,25.269021,39.8036,97.4040,13.545451,12.671312,11.3790,88.5291
14,24,Ficus,Ficus carica,79.541581,26.192702,36.8321,96.5459,13.650941,2.515720,13.0366,25.3329
15,26,Dieffenbachia Seguine,Dieffenbachia seguine,81.048314,23.614847,40.5108,95.6614,16.897922,17.308692,10.8873,117.8049
16,27,Spathiphyllum,Spathiphyllum (group),77.102333,38.078111,-93.5695,97.5021,10.883267,0.740014,10.7361,15.1967
17,28,Croton,Codiaeum variegatum,78.575447,26.513819,36.1503,95.5527,13.388897,3.918880,11.3492,29.8490
18,29,Aloe Vera,Aloe vera,75.578473,24.630324,35.4139,91.5482,11.144695,1.833434,10.7987,21.9912
19,30,Ficus Elastica,Ficus elastica,78.386508,24.245380,38.8521,94.1107,14.512959,0.030068,14.4880,14.5715
20,31,Sansevieria Trifasciata,Sansevieria trifasciata,74.118936,25.526594,33.2784,90.9821,13.362761,0.032283,13.3363,13.4282
21,32,Philodendron Hederaceum,Philodendron hederaceum,78.727476,26.173122,36.0496,95.7010,11.088157,2.906200,10.5896,28.2875
22,33,Schefflera Arboricola,Schefflera arboricola,77.830403,25.563424,36.1497,94.4153,14.965646,6.474991,13.5166,50.0689
23,34,Aglaonema Commutatum,Aglaonema commutatum,76.472846,25.662982,34.6186,93.1146,13.381708,0.205360,12.1864,13.4872
24,35,Monstera Deliciosa,Monstera deliciosa,75.059931,26.225200,33.1124,92.3492,13.171731,1.420480,12.8851,21.4512
25,36,Tacca Integrifolia,Tacca integrifolia,78.745519,24.735228,38.4091,94.8031,12.906162,2.550562,12.2699,24.3971
26,38,Saintpaulia Ionantha,Saintpaulia ionantha,77.206383,24.690963,37.7087,93.0229,11.082192,0.063139,11.0477,11.4044
27,39,Gaillardia,Gaillardia aestivalis,77.143549,26.688351,35.2952,95.0013,13.51382,0.643960,13.3717,17.2082
28,40,Amaryllis,Hippeastrum (group),79.970503,23.735626,39.1870,94.6581,9.092667,0.052095,9.0488,9.1928
29,41,Caladium Bicolor,Caladium bicolor,77.127211,24.782689,37.4781,93.4587,11.762719,0.056876,11.7143,11.8722
30,42,Chlorophytum Comosum,Chlorophytum comosum 'Vittatum',81.627758,24.780014,39.0517,96.9699,10.165764,1.280399,9.8402,17.0872
31,44,Araucaria Heterophylla,Araucaria heterophylla,75.477443,25.561833,35.3986,92.5969,10.929406,3.841627,9.5381,23.2898
32,45,Begonia,Begonia 'Art Hodes',77.409147,25.700019,36.3051,94.3297,9.095319,0.497301,8.9656,11.9786
33,46,Medinilla Magnifica,Medinilla magnifica,78.937389,24.464018,39.7980,95.0577,13.692936,1.791397,13.2861,23.8930
34,47,Calliandra Haematocephala,Calliandra haematocephala,62.999654,38.274299,2.9719,88.7212,13.26522,0.466064,10.5901,13.3933
35,48,Zamioculcas Zamiifolia,Zamioculcas zamiifolia,79.917731,25.336611,37.2374,95.8446,14.896814,0.022751,14.8772,14.9398
36,49,Crassula Ovata,Crassula ovata,77.162972,25.819455,35.8565,94.1790,9.937911,3.240432,9.3511,28.8378

### anomalies

In [ ]:
def is_healthy_moisture(df: pd.DataFrame) -> bool:
    
    last_hour = pd.Timestamp(datetime.now(timezone.utc)-timedelta(hours=1))
    df_in_last_hour = df[(df['recording_taken'] >= last_hour)]
    
    mean_moist = df.groupby('plant_id')['soil_moisture'].mean().reset_index()
    std_moist = df.groupby('plant_id')['soil_moisture'].std().reset_index()
    
    merged_df = pd.merge(mean_moist, std_moist, on='plant_id').rename(
        columns={'soil_moisture_x': 'mean', 'soil_moisture_y': 'std'})
    merged_df['anomalous +'] = merged_df['mean'] + \
        merged_df['std'].apply(lambda x: x*2)
    merged_df['anomalous -'] = merged_df['mean'] - \
        merged_df['std'].apply(lambda x: x*2)
    merge_2 = pd.merge(merged_df, df_in_last_hour, on='plant_id')
    merge_2 = merge_2.apply(lambda x: (x['anomolous -'] <= x['temperature']) & (
        x['temperature'] <= x['anomolous +']), axis=1).tolist()
    return False in merge_2


def is_healthy_temp(df: pd.DataFrame) -> bool:
    last_hour = pd.Timestamp(datetime.now(timezone.utc)-timedelta(hours=1))
    df_in_last_hour = df[(df['recording_taken'] >= last_hour)]
    mean_temperature = df.groupby(
        'plant_id')['temperature'].mean().reset_index()
    std_temperature = df.groupby('plant_id')['temperature'].std().reset_index()
    merged_df = pd.merge(mean_temperature, std_temperature, on='plant_id').rename(
        columns={'temperature_x': 'mean', 'temperature_y': 'std'})
    merged_df['anomolous +'] = merged_df['mean'] + \
        merged_df['std'].apply(lambda x: x*1.5)
    merged_df['anomolous -'] = merged_df['mean'] - \
        merged_df['std'].apply(lambda x: x*1.5)
    merge_2 = pd.merge(merged_df, df_in_last_hour, on='plant_id')
    merge_2 = merge_2.apply(lambda x: (x['anomolous -'] <= x['temperature']) & (
        x['temperature'] <= x['anomolous +']), axis=1).tolist()
    return False in merge_2

## upload data

In [ ]:
S3 = client('s3',
            aws_access_key_id=ENV["AWS_ACCESS_KEY_ID"],
            aws_secret_access_key=ENV["AWS_SECRET_ACCESS_KEY"])

In [ ]:
def upload_object(client: client, file: str, bucket: str, key: str) -> None:
    """Upload file to S3 bucket.
    Returns nothing."""
    
    client.upload_file(file, bucket, key)

In [ ]:
# upload_object(mean.csv, "late-ordovician", )

## clear database