## imports

In [1]:
from os import environ as ENV
from datetime import datetime, timezone, timedelta
from dotenv import load_dotenv
from pymssql import connect
import pandas as pd
from boto3 import client

## load data in

In [2]:
load_dotenv()

True

In [3]:
def get_db_connection(config: dict) -> connect:
    """Returns database connection."""

    return connect(
        server=config["DB_HOST"],
        port=config["DB_PORT"],
        user=config["DB_USER"],
        database=config["DB_NAME"],
        password=config["DB_PASSWORD"],
        as_dict=True
    )

In [4]:
connection = get_db_connection(ENV)

In [5]:
def get_df(conn: connect) -> pd.DataFrame:
    """Returns a Dataframe of method data from database."""

    query = """ 
            SELECT *
            FROM s_beta.recording AS r
            FULL JOIN s_beta.plant AS p
                ON r.plant_id = p.plant_id
            """
    
    with conn.cursor() as cur:
        cur.execute(query)
        rows = cur.fetchall()

    df = pd.DataFrame(rows)[
        ["plant_id", "plant_name", "scientific_name", "recording_taken", "soil_moisture", "temperature"]]
    
    return df

In [6]:
data = get_df(connection)

In [7]:
data = data.astype({"soil_moisture":"float64",
                    "temperature":"float64"})

In [8]:
data['recording_taken'] = pd.to_datetime(data['recording_taken'], utc=True)

In [9]:
data.dtypes

plant_id                         int64
plant_name                      object
scientific_name                 object
recording_taken    datetime64[ns, UTC]
soil_moisture                  float64
temperature                    float64
dtype: object

In [10]:
data

,plant_id,plant_name,scientific_name,recording_taken,soil_moisture,temperature
0,0,Epipremnum Aureum,Epipremnum aureum,2024-04-17 09:44:01+00:00,31.4063,13.1995
1,1,Venus flytrap,None,2024-04-17 09:44:01+00:00,29.7548,12.0470
2,2,Corpse flower,None,2024-04-17 09:44:00+00:00,35.9540,9.1711
3,3,Rafflesia arnoldii,None,2024-04-17 09:44:04+00:00,34.6505,10.0300
4,4,Black bat flower,None,2024-04-17 09:44:10+00:00,26.7741,11.3474
...,...,...,...,...,...,...
1404,45,Begonia,Begonia 'Art Hodes',2024-04-17 10:30:45+00:00,28.8367,9.0107
1405,46,Medinilla Magnifica,Medinilla magnifica,2024-04-17 10:30:44+00:00,32.7024,13.3235
1406,47,Calliandra Haematocephala,Calliandra haematocephala,2024-04-17 10:30:39+00:00,-8.0308,13.3452
1407,48,Zamioculcas Zamiifolia,Zamioculcas zamiifolia,2024-04-17 10:30:43+00:00,29.7128,14.8957
1408,49,Crassula Ovata,Crassula ovata,2024-04-17 10:30:46+00:00,28.3656,9.3957

## transform data

### summary

In [11]:
def get_summary(df: pd.DataFrame) -> pd.DataFrame:
    """Gets 1 mean per parameter per plant.
    Returns pd.DF."""
    
    df = df.drop(columns=["recording_taken"])
    
    df = df.groupby(["plant_id", "plant_name", "scientific_name"],as_index=False
                    ).agg(["mean", "std", "min", "max"]
                          ).droplevel(1, axis=1)
    
    df.columns = ['plant_id', 'plant_name', 'scientific_name'] + \
        [param+"_"+metric
         for param in ['soil_moisture', 'temperature']
         for metric in ["mean", "std", "min", "max"]]
    
    return df

In [12]:
summary = get_summary(data)

In [13]:
summary

,plant_id,plant_name,scientific_name,soil_moisture_mean,soil_moisture_std,soil_moisture_min,soil_moisture_max,temperature_mean,temperature_std,temperature_min,temperature_max
0,0,Epipremnum Aureum,Epipremnum aureum,29.596043,0.613463,28.7117,31.4063,13.516180,1.378186,13.1330,18.9927
1,5,Pitcher plant,Sarracenia catesbaei,34.214820,0.598728,33.3443,35.9741,11.175570,0.018648,11.1562,11.2455
2,6,Wollemi pine,Wollemia nobilis,31.067663,0.586784,30.2229,32.7930,11.418290,2.520655,10.9444,24.7641
3,8,Bird of paradise,Heliconia schiedeana 'Fire and Ice',25.316380,0.631664,24.4029,27.1754,11.509633,0.024789,11.4838,11.6025
4,9,Cactus,Pereskia grandifolia,30.297279,0.620766,29.3999,32.0963,10.821162,1.244012,10.5765,17.2890
5,11,Asclepias Curassavica,Asclepias curassavica,27.355143,16.998831,-62.5927,32.2118,12.240097,12.536760,9.4339,77.8178
6,14,Colocasia Esculenta,Colocasia esculenta,32.420624,0.606287,31.5578,34.1746,15.285662,11.661404,13.0901,75.9186
7,16,Euphorbia Cotinifolia,Euphorbia cotinifolia,-4.964040,0.906478,-6.2762,-2.2859,13.257107,0.107390,12.6945,13.3348
8,17,Ipomoea Batatas,Ipomoea batatas,29.424393,0.623308,28.5476,31.2443,10.005914,1.310406,9.7386,16.8184
9,19,Musa Basjoo,Musa basjoo,26.782776,17.625377,-64.8078,31.7957,17.105276,15.129073,13.8426,94.6848
10,20,Salvia Splendens,Salvia splendens,31.630687,0.619660,30.7374,33.4564,9.591367,3.971525,8.5594,27.7035
11,21,Anthurium,Anthurium andraeanum,32.120923,0.602168,31.2484,33.8881,11.517440,2.308219,10.9872,23.4164
12,22,Bird of Paradise,Heliconia schiedeana 'Fire and Ice',25.654221,0.621833,24.7263,27.4422,9.750364,1.122917,9.5218,15.4795
13,23,Cordyline Fruticosa,Cordyline fruticosa,33.291113,0.607726,32.4165,35.0848,11.400280,0.023068,11.3761,11.4869
14,24,Ficus,Ficus carica,30.091521,0.633311,29.1584,31.9353,13.049314,0.014209,13.0348,13.1020
15,26,Dieffenbachia Seguine,Dieffenbachia seguine,34.205427,0.583332,33.3673,35.9250,14.254360,0.960255,12.5149,19.0887
16,27,Spathiphyllum,Spathiphyllum (group),33.826673,0.603668,32.9502,35.6029,10.873727,0.681460,10.7351,14.4811
17,28,Croton,Codiaeum variegatum,29.375833,0.634571,28.4606,31.2443,12.403650,0.010318,12.3929,12.4423
18,29,Aloe Vera,Aloe vera,29.060937,0.593806,28.2039,30.8087,11.362313,2.520004,10.7957,24.4729
19,30,Ficus Elastica,Ficus elastica,32.536659,0.494755,31.7502,33.6395,16.202034,9.259050,14.0295,64.3420
20,31,Sansevieria Trifasciata,Sansevieria trifasciata,26.742010,0.615962,25.8658,28.5547,15.222721,9.734400,13.3345,65.8056
21,32,Philodendron Hederaceum,Philodendron hederaceum,29.299157,0.630490,28.3826,31.1509,11.109420,1.966336,10.5881,19.4730
22,33,Schefflera Arboricola,Schefflera arboricola,26.606300,15.603079,-52.9444,31.3671,13.721379,0.975884,13.5140,18.6997
23,34,Aglaonema Commutatum,Aglaonema commutatum,28.003641,0.652719,27.1114,29.8230,13.746844,1.259416,13.3808,18.6237
24,35,Monstera Deliciosa,Monstera deliciosa,26.401020,0.628452,25.4907,28.2541,12.917667,0.049677,12.8820,13.1398
25,36,Tacca Integrifolia,Tacca integrifolia,32.024430,0.597176,31.1588,33.7782,12.325740,0.188958,12.2659,13.3180
26,38,Saintpaulia Ionantha,Saintpaulia ionantha,31.387359,0.599782,30.5376,33.1312,11.677131,3.258280,11.0461,28.6158
27,39,Gaillardia,Gaillardia aestivalis,28.555434,0.636155,27.6196,30.3930,13.534976,0.791250,13.3697,17.6480
28,40,Amaryllis,Hippeastrum (group),32.916787,0.586144,32.0656,34.6391,9.071053,0.024222,9.0457,9.1619
29,41,Caladium Bicolor,Caladium bicolor,31.163490,0.595662,30.2904,32.8880,16.328769,15.738193,11.7112,82.3817
30,42,Chlorophytum Comosum,Chlorophytum comosum 'Vittatum',32.510550,0.607042,31.6592,34.2910,9.886257,0.173106,9.8385,10.7666
31,44,Araucaria Heterophylla,Araucaria heterophylla,28.900107,0.605752,28.0450,30.6972,9.766124,1.119862,9.5366,15.5879
32,45,Begonia,Begonia 'Art Hodes',29.727543,0.614016,28.8367,31.5315,8.989157,0.025598,8.9623,9.0850
33,46,Medinilla Magnifica,Medinilla magnifica,33.549937,0.584203,32.7024,35.2700,13.584137,1.123166,13.2835,18.9107
34,47,Calliandra Haematocephala,Calliandra haematocephala,-6.745269,0.913179,-8.0308,-4.0557,14.148362,3.119655,13.3242,27.8064
35,48,Zamioculcas Zamiifolia,Zamioculcas zamiifolia,30.602655,0.628302,29.7128,32.4313,14.887086,0.010622,14.8759,14.9263
36,49,Crassula Ovata,Crassula ovata,29.246114,0.620925,28.3656,31.0730,10.634531,3.398550,9.3479,22.4335

### anomalies

In [14]:
anomalies = data.copy(deep=True)

In [15]:
def get_std(row: dict, df: pd.DataFrame, col: str) -> int:
    """Compare minutely value to mean of past hour;
    Returns std."""
    
    last_hour = pd.Timestamp(datetime.now(timezone.utc)-timedelta(hours=1))
    df['recording_taken'] = pd.to_datetime(df['recording_taken'], utc=True)
    last_hour_vals = df[df["recording_taken"] >= last_hour][col]
    
    mean = last_hour_vals.mean()
    std = last_hour_vals.std()
    
    nstd = (row[col] - mean) / std
    
    return nstd

In [16]:
anomalies["soil_moisture_nstd"] = data.apply(get_std,
                                             args=(data, "soil_moisture"),
                                             axis=1)

In [17]:
anomalies["temperature_nstd"] = data.apply(get_std,
                                           args=(data, "temperature"),
                                           axis=1)

In [20]:
anomalies = anomalies[(anomalies["soil_moisture_nstd"] <= -2.5) |
                      (anomalies["soil_moisture_nstd"] >= 2.5) |
                      (anomalies["temperature_nstd"] <= -2.5) |
                      (anomalies["temperature_nstd"] >= 2.5)]

,plant_id,plant_name,scientific_name,recording_taken,soil_moisture,temperature,soil_moisture_nstd,temperature_nstd
15,16,Euphorbia Cotinifolia,Euphorbia cotinifolia,2024-04-17 09:44:00+00:00,-2.2859,13.3101,-3.545474,0.161872
44,47,Calliandra Haematocephala,Calliandra haematocephala,2024-04-17 09:44:16+00:00,-4.0557,13.3605,-3.748973,0.169840
55,10,"Dragon tree,",None,2024-04-17 09:56:16+00:00,27.5994,115.6278,-0.109139,16.336808
61,16,Euphorbia Cotinifolia,Euphorbia cotinifolia,2024-04-17 09:56:22+00:00,-3.3466,13.3348,-3.667437,0.165777
64,19,Musa Basjoo,Musa basjoo,2024-04-17 09:56:27+00:00,31.1110,94.6848,0.294639,13.026025
...,...,...,...,...,...,...,...,...
1329,16,Euphorbia Cotinifolia,Euphorbia cotinifolia,2024-04-17 10:29:29+00:00,-6.1853,13.2880,-3.993843,0.158378
1343,30,Ficus Elastica,Ficus elastica,2024-04-17 10:29:34+00:00,31.8087,64.3420,0.374864,8.229271
1359,47,Calliandra Haematocephala,Calliandra haematocephala,2024-04-17 10:29:38+00:00,-7.9430,13.3441,-4.195951,0.167247
1377,16,Euphorbia Cotinifolia,Euphorbia cotinifolia,2024-04-17 10:30:33+00:00,-6.2762,13.2895,-4.004295,0.158616
1406,47,Calliandra Haematocephala,Calliandra haematocephala,2024-04-17 10:30:39+00:00,-8.0308,13.3452,-4.206046,0.167421

## load data

In [ ]:
S3 = client('s3',
            aws_access_key_id=ENV["AWS_ACCESS_KEY_ID"],
            aws_secret_access_key=ENV["AWS_SECRET_ACCESS_KEY"])

In [ ]:
def upload_object(client: client, file: str, bucket: str, key: str) -> None:
    """Upload file to S3 bucket.
    Returns nothing."""
    
    client.upload_file(file, bucket, key)

In [ ]:
# upload_object(mean.csv, "late-ordovician", )

## clear database