## imports

In [1]:
from os import environ as ENV
from dotenv import load_dotenv
from pymssql import connect
import pandas as pd
from boto3 import client

## load data in

In [2]:
load_dotenv()

True

In [4]:
def get_db_connection(config: dict) -> connect:
    """Returns database connection."""

    return connect(
        server=config["DB_HOST"],
        port=config["DB_PORT"],
        user=config["DB_USER"],
        database=config["DB_NAME"],
        password=config["DB_PASSWORD"],
        as_dict=True
    )

In [20]:
connection = get_db_connection(ENV)
def get_df(conn: connect) -> pd.DataFrame:
    """Returns a Dataframe of method data from database."""

    query = """ 
            SELECT *
            FROM s_beta.recording AS r

            """
    
    with conn.cursor() as cur:
        cur.execute(query)
        rows = cur.fetchall()


    
    return rows
data = pd.DataFrame(get_df(connection))
print([pd.DataFrame(data)['recording_taken']])

[      recording_id  plant_id     recording_taken        last_watered  \
0                1         0 2024-04-16 15:42:01 2024-04-16 14:03:04
1                2         1 2024-04-16 15:41:51 2024-04-16 13:54:32
2                3         2 2024-04-16 15:41:49 2024-04-16 14:10:54
3                4         3 2024-04-16 15:42:00 2024-04-16 14:50:16
4                5         4 2024-04-16 15:41:58 2024-04-16 13:16:25
...            ...       ...                 ...                 ...
1281          1282        44 2024-04-16 16:17:17 2024-04-16 13:32:40
1282          1283        46 2024-04-16 16:17:04 2024-04-16 14:12:39
1283          1284        47 2024-04-16 16:17:15 2024-04-16 13:30:18
1284          1285        48 2024-04-16 16:17:17 2024-04-16 14:31:09
1285          1286        49 2024-04-16 16:17:10 2024-04-16 14:02:15

     soil_moisture temperature  image_id  botanist_id
0          94.2520     13.2095         1            1
1          93.6619     12.0518         2            2
2          95.0359      9.1838         3            1
3          97.0180     10.0402         4            3
4          91.3188     11.3533         5            1
...            ...         ...       ...          ...
1281       90.5837      9.5606        26            2
1282       93.1255     13.3093         6            3
1283       85.6893     13.3377        28            3
1284       93.7807     14.8889         6            1
1285       92.1322      9.3789        29            3

[1286 rows x 8 columns]]

In [16]:
data = get_df(connection)

In [10]:
data

,plant_id,plant_name,scientific_name,soil_moisture,temperature
0,0,Epipremnum Aureum,Epipremnum aureum,94.2520,13.2095
1,1,Venus flytrap,None,93.6619,12.0518
2,2,Corpse flower,None,95.0359,9.1838
3,3,Rafflesia arnoldii,None,97.0180,10.0402
4,4,Black bat flower,None,91.3188,11.3533
...,...,...,...,...,...
1281,44,Araucaria Heterophylla,Araucaria heterophylla,90.5837,9.5606
1282,46,Medinilla Magnifica,Medinilla magnifica,93.1255,13.3093
1283,47,Calliandra Haematocephala,Calliandra haematocephala,85.6893,13.3377
1284,48,Zamioculcas Zamiifolia,Zamioculcas zamiifolia,93.7807,14.8889
1285,49,Crassula Ovata,Crassula ovata,92.1322,9.3789

## transform data

In [16]:
data.groupby(["plant_id", "plant_name", "scientific_name"],
             as_index=False).agg(["mean", "std", "min", "max"],)

   plant_id                 plant_name                      scientific_name  \

0         0          Epipremnum Aureum                    Epipremnum aureum
1         5              Pitcher plant                 Sarracenia catesbaei
2         6               Wollemi pine                     Wollemia nobilis
3         8           Bird of paradise  Heliconia schiedeana 'Fire and Ice'
4         9                     Cactus                 Pereskia grandifolia
5        11      Asclepias Curassavica                Asclepias curassavica
6        14        Colocasia Esculenta                  Colocasia esculenta
7        16      Euphorbia Cotinifolia                Euphorbia cotinifolia
8        17            Ipomoea Batatas                      Ipomoea batatas
9        19                Musa Basjoo                          Musa basjoo
10       20           Salvia Splendens                     Salvia splendens
11       21                  Anthurium                 Anthurium andraeanum
12       22           Bird of Paradise  Heliconia schiedeana 'Fire and Ice'
13       23        Cordyline Fruticosa                  Cordyline fruticosa
14       24                      Ficus                         Ficus carica
15       26      Dieffenbachia Seguine                Dieffenbachia seguine
16       27              Spathiphyllum                Spathiphyllum (group)
17       28                     Croton                  Codiaeum variegatum
18       29                  Aloe Vera                            Aloe vera
19       30             Ficus Elastica                       Ficus elastica
20       31    Sansevieria Trifasciata              Sansevieria trifasciata
21       32    Philodendron Hederaceum              Philodendron hederaceum
22       33      Schefflera Arboricola                Schefflera arboricola
23       34       Aglaonema Commutatum                 Aglaonema commutatum
24       35         Monstera Deliciosa                   Monstera deliciosa
25       36         Tacca Integrifolia                   Tacca integrifolia
26       38       Saintpaulia Ionantha                 Saintpaulia ionantha
27       39                 Gaillardia                Gaillardia aestivalis
28       40                  Amaryllis                  Hippeastrum (group)
29       41           Caladium Bicolor                     Caladium bicolor
30       42       Chlorophytum Comosum      Chlorophytum comosum 'Vittatum'
31       44     Araucaria Heterophylla               Araucaria heterophylla
32       45                    Begonia                  Begonia 'Art Hodes'
33       46        Medinilla Magnifica                  Medinilla magnifica
34       47  Calliandra Haematocephala            Calliandra haematocephala
35       48     Zamioculcas Zamiifolia               Zamioculcas zamiifolia
36       49             Crassula Ovata                       Crassula ovata

   soil_moisture                               temperature             \
            mean        std       min      max        mean        std
0      93.013725   0.514017   92.2081  94.2520   13.701857   2.379130
1      96.209622   0.506180   95.4097  97.4099   12.487789   4.633637
2      91.801996   0.503721   91.0140  92.9740     11.3168   1.731956
3      90.437371   0.527593   89.6138  91.7218   11.634261   0.492161
4      93.603889   0.512188   92.7904  94.8320   10.779226   0.890832
5      91.820974   0.491859   91.0206  92.9970   13.859922  19.086600
6      94.031622   0.501265   93.2657  95.2560   13.354689   1.076748
7      88.625107   0.771758   87.4441  90.4646    13.29723   0.036386
8      92.963623   0.510482   92.1684  94.2281   10.303438   2.496179
9        91.1168   0.493620   90.3522  92.3086   14.593429   3.148154
10     95.698835   0.527919   94.8657  96.9228      9.2241   2.734121
11      94.33665   0.504392   93.5596  95.5508   11.757468   3.423380
12     89.477625   0.518062   88.6692  90.7226   10.345268   3.623568
13     96.180681   0.514715   95.3729  97.4040   14.343041  14.828099
14     95.262574   0.538363   94.4420  96.5459   13.420363   1.825321
15     94.489422   0.492601   93.7102  95.6614   17.937615  19.961047
16     89.281815  36.546609  -93.5695  97.5021   10.929789   0.853340
17     94.786627   0.481280   93.9949  95.5527   13.769262   4.578100
18     90.361759   0.501516   89.5723  91.5482   10.853737   0.057807
19      92.93877   0.491579   92.1649  94.1107   14.519322   0.033068
20     89.726088   0.512820   88.9638  90.9821   13.369554   0.035814
21     94.436767   0.532011   93.5965  95.7010   10.615233   0.026949
22     93.173748   0.519885   92.3636  94.4153   14.144781   3.040003
23     91.875952   0.521026   91.0560  93.1146   13.422159   0.041131
24     91.094115   0.538639   90.2576  92.3492   12.947046   0.062942
25     93.591737   0.507494   92.8183  94.8031   13.137211   2.966868
26     92.303035   0.447418   91.5620  93.0229   11.092312   0.072075
27     93.777468   0.527886   92.9030  95.0013   13.566612   0.759805
28     93.480341   0.494018   92.7051  94.6581    9.102789   0.056739
29     92.279435   0.509210   91.4896  93.4587   11.775596   0.062430
30     95.731981   0.523032   94.9269  96.9699   10.003607   0.553137
31       91.4091   0.521669   90.5837  92.5969   10.629296   3.603425
32     93.122419   0.506920   92.3421  94.3297    9.024165   0.060667
33     93.894788   0.501245   93.1255  95.0577   13.437335   0.454962
34       86.8546   0.766714   85.6893  88.7212    13.23872   0.552413
35     94.607531   0.531622   93.7807  95.8446   14.901477   0.024791
36     92.949096   0.528705   92.1322  94.1790    9.409431   0.059526


        min       max
0   13.1356   25.6808
1   11.1584   29.1808
2   10.9460   19.8071
3   11.4868   14.1283
4   10.5782   15.2341
5    9.4361  108.0111
6   13.0936   18.7336
7   13.2622   13.3546
8    9.7414   22.5272
9   12.7998   29.6748
10   8.5624   22.5200
11  10.9895   29.0781
12   9.5237   28.5868
13  11.3790   88.5291
14  13.0366   22.5523
15  12.5646  117.8049
16  10.7361   15.1967
17  11.3492   29.8490
18  10.7987   10.9454
19  14.4880   14.5715
20  13.3363   13.4282
21  10.5896   10.6581
22  13.5166   29.3543
23  13.3830   13.4872
24  12.8851   13.0435
25  12.2699   24.3971
26  11.0477   11.4044
27  13.3717   17.2082
28   9.0488    9.1928
29  11.7143   11.8722
30   9.8402   12.6837
31   9.5381   23.2898
32   8.9656    9.1178
33  13.2861   15.6299
34  10.5901   13.3933
35  14.8772   14.9398
36   9.3511    9.5005

In [12]:
data.groupby(["plant_id", "plant_name", "scientific_name"],
             as_index=False).mean()

,plant_id,plant_name,scientific_name,soil_moisture,temperature
0,0,Epipremnum Aureum,Epipremnum aureum,93.013725,13.701857
1,5,Pitcher plant,Sarracenia catesbaei,96.209622,12.487789
2,6,Wollemi pine,Wollemia nobilis,91.801996,11.3168
3,8,Bird of paradise,Heliconia schiedeana 'Fire and Ice',90.437371,11.634261
4,9,Cactus,Pereskia grandifolia,93.603889,10.779226
5,11,Asclepias Curassavica,Asclepias curassavica,91.820974,13.859922
6,14,Colocasia Esculenta,Colocasia esculenta,94.031622,13.354689
7,16,Euphorbia Cotinifolia,Euphorbia cotinifolia,88.625107,13.29723
8,17,Ipomoea Batatas,Ipomoea batatas,92.963623,10.303438
9,19,Musa Basjoo,Musa basjoo,91.1168,14.593429
10,20,Salvia Splendens,Salvia splendens,95.698835,9.2241
11,21,Anthurium,Anthurium andraeanum,94.33665,11.757468
12,22,Bird of Paradise,Heliconia schiedeana 'Fire and Ice',89.477625,10.345268
13,23,Cordyline Fruticosa,Cordyline fruticosa,96.180681,14.343041
14,24,Ficus,Ficus carica,95.262574,13.420363
15,26,Dieffenbachia Seguine,Dieffenbachia seguine,94.489422,17.937615
16,27,Spathiphyllum,Spathiphyllum (group),89.281815,10.929789
17,28,Croton,Codiaeum variegatum,94.786627,13.769262
18,29,Aloe Vera,Aloe vera,90.361759,10.853737
19,30,Ficus Elastica,Ficus elastica,92.93877,14.519322
20,31,Sansevieria Trifasciata,Sansevieria trifasciata,89.726088,13.369554
21,32,Philodendron Hederaceum,Philodendron hederaceum,94.436767,10.615233
22,33,Schefflera Arboricola,Schefflera arboricola,93.173748,14.144781
23,34,Aglaonema Commutatum,Aglaonema commutatum,91.875952,13.422159
24,35,Monstera Deliciosa,Monstera deliciosa,91.094115,12.947046
25,36,Tacca Integrifolia,Tacca integrifolia,93.591737,13.137211
26,38,Saintpaulia Ionantha,Saintpaulia ionantha,92.303035,11.092312
27,39,Gaillardia,Gaillardia aestivalis,93.777468,13.566612
28,40,Amaryllis,Hippeastrum (group),93.480341,9.102789
29,41,Caladium Bicolor,Caladium bicolor,92.279435,11.775596
30,42,Chlorophytum Comosum,Chlorophytum comosum 'Vittatum',95.731981,10.003607
31,44,Araucaria Heterophylla,Araucaria heterophylla,91.4091,10.629296
32,45,Begonia,Begonia 'Art Hodes',93.122419,9.024165
33,46,Medinilla Magnifica,Medinilla magnifica,93.894788,13.437335
34,47,Calliandra Haematocephala,Calliandra haematocephala,86.8546,13.23872
35,48,Zamioculcas Zamiifolia,Zamioculcas zamiifolia,94.607531,14.901477
36,49,Crassula Ovata,Crassula ovata,92.949096,9.409431

In [13]:
data.groupby(["plant_id", "plant_name", "scientific_name"],
             as_index=False).std()

,plant_id,plant_name,scientific_name,soil_moisture,temperature
0,0,Epipremnum Aureum,Epipremnum aureum,0.514017,2.379130
1,5,Pitcher plant,Sarracenia catesbaei,0.506180,4.633637
2,6,Wollemi pine,Wollemia nobilis,0.503721,1.731956
3,8,Bird of paradise,Heliconia schiedeana 'Fire and Ice',0.527593,0.492161
4,9,Cactus,Pereskia grandifolia,0.512188,0.890832
5,11,Asclepias Curassavica,Asclepias curassavica,0.491859,19.086600
6,14,Colocasia Esculenta,Colocasia esculenta,0.501265,1.076748
7,16,Euphorbia Cotinifolia,Euphorbia cotinifolia,0.771758,0.036386
8,17,Ipomoea Batatas,Ipomoea batatas,0.510482,2.496179
9,19,Musa Basjoo,Musa basjoo,0.493620,3.148154
10,20,Salvia Splendens,Salvia splendens,0.527919,2.734121
11,21,Anthurium,Anthurium andraeanum,0.504392,3.423380
12,22,Bird of Paradise,Heliconia schiedeana 'Fire and Ice',0.518062,3.623568
13,23,Cordyline Fruticosa,Cordyline fruticosa,0.514715,14.828099
14,24,Ficus,Ficus carica,0.538363,1.825321
15,26,Dieffenbachia Seguine,Dieffenbachia seguine,0.492601,19.961047
16,27,Spathiphyllum,Spathiphyllum (group),36.546609,0.853340
17,28,Croton,Codiaeum variegatum,0.481280,4.578100
18,29,Aloe Vera,Aloe vera,0.501516,0.057807
19,30,Ficus Elastica,Ficus elastica,0.491579,0.033068
20,31,Sansevieria Trifasciata,Sansevieria trifasciata,0.512820,0.035814
21,32,Philodendron Hederaceum,Philodendron hederaceum,0.532011,0.026949
22,33,Schefflera Arboricola,Schefflera arboricola,0.519885,3.040003
23,34,Aglaonema Commutatum,Aglaonema commutatum,0.521026,0.041131
24,35,Monstera Deliciosa,Monstera deliciosa,0.538639,0.062942
25,36,Tacca Integrifolia,Tacca integrifolia,0.507494,2.966868
26,38,Saintpaulia Ionantha,Saintpaulia ionantha,0.447418,0.072075
27,39,Gaillardia,Gaillardia aestivalis,0.527886,0.759805
28,40,Amaryllis,Hippeastrum (group),0.494018,0.056739
29,41,Caladium Bicolor,Caladium bicolor,0.509210,0.062430
30,42,Chlorophytum Comosum,Chlorophytum comosum 'Vittatum',0.523032,0.553137
31,44,Araucaria Heterophylla,Araucaria heterophylla,0.521669,3.603425
32,45,Begonia,Begonia 'Art Hodes',0.506920,0.060667
33,46,Medinilla Magnifica,Medinilla magnifica,0.501245,0.454962
34,47,Calliandra Haematocephala,Calliandra haematocephala,0.766714,0.552413
35,48,Zamioculcas Zamiifolia,Zamioculcas zamiifolia,0.531622,0.024791
36,49,Crassula Ovata,Crassula ovata,0.528705,0.059526

In [ ]:
def get_summary(df: pd.DataFrame) -> pd.DataFrame:
    """Get 1 mean per parameter per plant"""
    
    mean = df.groupby(["plant_id", "plant_name", "scientific_name"],
                      as_index=False).mean().rename(mapper={"soil_moisture": "soil_moisture_mean",
                                                            "temperature": "temperature_mean"})
    std = df.groupby(["plant_id", "plant_name", "scientific_name"],
                     as_index=False).std().rename(mapper={"soil_moisture": "soil_moisture_std",
                                                          "temperature": "temperature_mean"})
    min = df.groupby(["plant_id", "plant_name", "scientific_name"],
                     as_index=False).min()
    max = df.groupby(["plant_id", "plant_name", "scientific_name"],
                     as_index=False).max()
    df = mean.jo

## upload data

In [ ]:
S3 = client('s3',
            aws_access_key_id=ENV["AWS_ACCESS_KEY_ID"],
            aws_secret_access_key=ENV["AWS_SECRET_ACCESS_KEY"])

In [ ]:
def upload_object(client: client, file: str, bucket: str, key: str) -> None:
    """Upload file to S3 bucket.
    Returns nothing."""
    
    client.upload_file(file, bucket, key)

In [ ]:
# upload_object(mean.csv, "late-ordovician", )